.container_login {
  max-width: 50%;
  padding-top: 20%;
}

.box_login {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.box_login > div {
  margin: 10px;
}

.box_login_button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.box_login_register_tabs {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 50%;
  margin: 0 auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}